<div class="container">
    <div class="card">
        <div class="card-body">
            
            <div class="row align-items-center">
                <div class="col-1"></div>
                <div class="col-7">
                    <img src="{{videoGame.image}}" alt="video game on sale" class="card-img">
                </div>
                <div class="col-2">
                        <button class="btn btn-primary">Add To Cart</button>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>