<div class="row" width="100%;">
    <div class="col-5 d-flex align-items-center">
        <img src="{{product.image}}" alt="{{product.description}}">
    </div>
    <div class="col-2 d-flex align-items-center">
        {{product.price | currency}}
    </div>
    <div class="col-3 d-flex align-items-center">
        <span><button><i class="fas fa-minus"></i></button><input type="text" value="1"><button><i
                    class="fas fa-plus"></i></button></span>
    </div>
    <div class="col-2 d-flex align-items-center">
        text
    </div>
</div>