<!-- <div class="container">
        <div class="card">
            <div class="card-header">
                <h6>Car listings</h6>
            </div>
            <div class="card-body">
                <div class="row" style="margin-left: 0px;">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{selectedSort}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" type="button" (click)="updateSort('Price')">Price</button>
                            <button class="dropdown-item" type="button" (click)="updateSort('Make and Model')">Make and
                                Model</button>
                            <button class="dropdown-item" type="button" (click)="updateSort('Year')">Year</button>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="button" id="sortButton" (click)="sortBySelected()">Sort</button>
                </div>
    
                <div *ngFor='let car of cars'>
                    <app-car-item [car]='car'></app-car-item>
                </div>
            </div>
        </div>
    </div> -->
    <app-product-list [products]="videoGames"></app-product-list>